@model IEnumerable<DataLayer.Models.TblTicket>
@{
    ViewData["Title"] = "محتوای تیکت";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using GhasreMobile.Utilities

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="form-row">
                    <div class="form-group mb-0">
                        <label>کد آخرین تیکت:</label>
                        <span>@Model.Last().TicketId</span>
                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="جزئیات تیکت">                        </span>
                    </div>
                    <a href="/Admin/Ticket" class="btn btn-primary btn-sm text-white float-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom ml-md-4">بازگشت</a>
                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div id="ChatPanel" class="table-responsive flex">
                    @foreach (var item in Model)
                    {

                        @if (item.IsAnswer)
                        {
                            @*light background box*@

                            <div class="form-group float-right col-12">
                                <div class="col-10 col-sm-10 col-md-6 bg-light pt-3 pb-1 uk-border-rounded float-left">
                                    <p>
                                        @item.Body
                                    </p>
                                    <hr class="m-1" />
                                    <time class="float-left">@item.DateSubmited.Value.AllToShamsi()</time>
                                </div>
                            </div>
                        }
                        else
                        {
                            @*purple background box*@

                            <div class="form-group float-left col-12">
                                <div class="col-10 col-sm-10 col-md-6 bg-purple pt-3 pb-1 uk-border-rounded float-right">
                                    <p>
                                        @item.Body
                                    </p>
                                    <hr class="m-1" />
                                    <time class="float-left">@item.DateSubmited.Value.AllToShamsi()</time>
                                    <span class="float-left">@item.Client.Name &nbsp;</span>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <form class="card-footer bg-white form-row" asp-action="SendMassage" asp-controller="Ticket" asp-area="Admin">
                <input type="hidden" value="@Model.Last().ClientId" name="ClientId" />
                <textarea required class="form-control col-md-10 textarea-fix-height-50" name="Body"></textarea>
                <div class="uk-margin-auto uk-margin-auto-vertical">
                    <button type="submit" class="btn btn-success btn-sm text-white float-left uk-margin-auto-bottom mr-2 mt-2 mt-md-0" onclick="">ارسال پیام <span uk-icon="paper-plane-outline"></span></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Script{
    <script>
        $("#Information").click(function () {
            $.get("/Admin/Ticket/TicketInfo", function (result) {
                $(".modal-content").html(result);
            });
        });

        $(document).ready(function () {
            document.getElementById('ChatPanel').scrollTo(0, document.getElementById('ChatPanel').scrollHeight);
        });

    </script>
}