<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@(ViewData["Description"] ?? "سایت خرید و فروش آنلاین گوشی های موبایل به صورت اقساطی")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "قصر موبایل، گوشی، تلفن، خرید، آنلاین، اقساطی")">
    <meta name="author" content="صدرا محمدی، ینال احمدزاده، مهدی سهندی">

    <title>@(ViewData["Title"] ?? "قصر موبایل")</title>

    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />
    <link href="~/css/pages/account.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

</head>
<body>

    <header class="home">
        <a uk-icon="home" class="link-text" href="/"></a>
    </header>


    <main class="l">
        <div class="l-content">
            <div class="l-mid">
                @RenderBody()
            </div>
        </div>
        <div class="l-image">
            <img src="~/st/v/biscuits/account_biscuit.svg" class="l-cover" />
            <img src="@(ViewData["Image"] ?? "/st/r/Entry_2.png")" alt="" />
        </div>
    </main>

    <link href="~/css/Load.css" rel="stylesheet" />
    <!-- #Loadinh -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <!--Pwa-->
    @*<script src="~/app.js"></script>*@

    <script src="~/Jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script>
        function LoadingRun() {
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd() {
            $("#overlay").fadeOut(300);
        }
    </script>

    <script>
        window.addEventListener('resize', () => { checkResize() })
        checkResize();
        function checkResize() {
            const container = document.querySelector('.l-image');
            if (window.innerWidth < 624) {
                container.classList.add('uk-display-none')
            }
            else if (window.innerWidth >= 624) {
                container.classList.remove('uk-display-none')
            }
        }
    </script>
    @RenderSection("Scripts", false)

</body>
</html>
