@model TblTicket
<form class="ticket-block @((Model.IsAnswer ? "gray" : ""))">
    <div class="top">
        <label class="name " style=" @((Model.IsAnswer ? "display:none" : ""))">
            @Model.Title
        </label>
        <span class="date">
            @Model.DateSubmited.Value.DateToShamsi()
        </span>
    </div>
    <p class="text" dir="rtl">
        @Model.Body
    </p>
</form>