@model TblOrder
@{
    ViewData["Title"] = "پیش فاکتور فروش اقساطی ";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="col g-3">
    @if (Model != null)
    {
        <table class="table mat-card" dir="rtl">
            <thead>
                <tr>
                    <th colspan="5">
                        <div class="item-list box-shadow uk-margin-small-bottom">
                            <div class="text-3">@Model.DateSubmited.DateToShamsi()</div>
                            <div>شماره پیش فاکتور @Model.OrdeId#</div>
                            <div>
                                @{
                                    TblConfig config = ViewBag.KharidAgsady as TblConfig;
                                }

                                @Html.Raw(config.Value)
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>نام محصول</th>
                    <th>تعداد</th>
                    <th>رنگ</th>
                    <th>فی</th>
                    <th>قیمت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var j in Model.TblOrderDetail)
                {
                    <tr>
                        <td>
                            <a href="/Product/@j.ProductId/@j.Product.Name.Replace(" ", "-")" class="link-text" target="_blank">@j.Product.Name</a>
                        </td>
                        <td>@j.Count</td>
                        <td>@j.Color.Name</td>
                        <td>@j.Price</td>
                        <td>@((j.Count * j.Price).ToString("#,0")) تومان</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td dir="rtl">
                        <span>تخفیف:</span>
                        @Model.PaymentStatus.ToString("#,0") تومان
                    </td>
                    <td dir="rtl">
                        <span>تعداد:</span>
                        @Model.TblOrderDetail.Sum(i => i.Count)
                    </td>
                    <td dir="rtl">
                        <span>هزینه ارسال :</span>
                        @Model.SendPrice.Value.ToString("#,0") تومان
                    </td>
                    <td>
                        @*<span>پیش پرداخت :</span>
                @Model.FractionalPartPayed.Value.ToString("#,0") تومان*@
                    </td>
                    <td class="uk-text-success">

                    </td>
                </tr>
                <tr>
                    <td dir="rtl" class="uk-text-success">
                        <span>جمع کل :</span>
                        @Model.FinalPrice.ToString("#,0") تومان
                    </td>
                    <td dir="rtl"  class="uk-text-success">
                        <span>پیش پرداخت :</span>
                        @Model.FractionalPartPayed.Value.ToString("#,0") تومان
                    </td>
                    <td dir="rtl"  class="uk-text-success">
                        @{
                            var Amount = Model.FinalPrice - Model.FractionalPartPayed;
                        }

                        <span>مانده حساب:</span>

                        @Amount.Value.ToString("#,0") تومان
                    </td>
                    <td>

                    </td>
                    <td class="uk-text-success">

                    </td>
                </tr>
            </tfoot>
        </table>
    }

</div>
