@model IEnumerable<TblWallet>
@if (Model.Any())
{
    <table class="table mat-card" dir="rtl">
        <thead>
            <tr>
                <th>مقدار</th>
                <th>نوع</th>
                <th>تاریخ</th>
                <th>توضیحات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    @if (item.IsDeposit)
                    {
                        <td class="uk-text-success">@item.Amount.ToString("#,0")</td>
                        <td class="uk-text-success">
                            (@item.Description)واریز
                        </td>
                    }
                    else
                    {
                        <td class="uk-text-danger">@item.Amount.ToString("#,0")</td>
                        <td class="uk-text-danger">
                            (@item.Description) برداشت
                        </td>
                    }
                    <td>@item.Date.AllToShamsi()</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>

}