@model IEnumerable<ShopCartItemVm>
<div class="mat-card cart">
    <table dir="rtl">
        <thead>
            <tr>
                <th>عکس</th>
                <th>نام محصول</th>
                <th>رنگ </th>
                <th>تعداد</th>
                <th>فی</th>
                <th>قیمت</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="img" uk-lightbox>
                        <a href="~/Images/ProductMain/@item.ImageName">
                            <img src="~/Images/ProductMain/thumb/@item.ImageName" alt="" />
                        </a>
                    </td>
                    <td class="name">
                        <div class="col">
                            <h5>@item.Name</h5>
                            <a class="link-text" href="/Product/@item.ProductID/@item.Name.Replace(" ","-")"  target="_blank">@item.Brand</a>
                        </div>
                    </td>
                    <td class="name">
                        <div class="col">
                            <h5>@item.ColorName</h5>
                        </div>
                    </td>
                    <td>
                        <div class="counter">
                            <button onclick="window.location.href = '/ShopCart/UpDownCount/@item.ProductID?colorId=@item.ColorID&&command=up&&ReturnUrl=' + window.location.href" uk-icon="ratio:.6;icon:add-outline"></button>
                            <label>@item.Count</label>
                            <button onclick="window.location.href = '/ShopCart/UpDownCount/@item.ProductID?colorId=@item.ColorID&&command=down&&ReturnUrl=' + window.location.href" uk-icon="ratio:.6;icon:remove-outline"></button>
                        </div>
                    </td>
                    <td class="price">
                        <div class="col">
                            @if (item.Special == 0)
                            {
                                @if (item.PriceAfterDiscount == 0)
                                {
                                    <label> </label>
                                    <label> @item.PriceBeforeDiscount.Value.ToString("#,0")</label>
                                }
                                else
                                {
                                    <label> @item.PriceBeforeDiscount.Value.ToString("#,0")</label>
                                    <label> @item.PriceAfterDiscount.Value.ToString("#,0")</label>
                                }
                            }
                            else
                            {
                                @if (item.PriceAfterDiscount == 0)
                                {
                                    <label> @item.PriceBeforeDiscount.Value.ToString("#,0")</label>
                                }
                                else
                                {
                                    <label> @item.PriceAfterDiscount.Value.ToString("#,0")</label>
                                }
                                <label> @item.Special.Value.ToString("#,0")</label>
                            }


                        </div>
                    </td>
                    <td class="price">
                        <div class="col">
                            <label></label>
                            <label>@item.Sum.Value.ToString("#,0")</label>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="finalize">
        <div class="price">
            <h3>
                @Model.Sum(i => i.Sum).Value.ToString("#,0")
            </h3>
            <span>
                تومان
            </span>
        </div>
    </div>
</div>