@model TblSpecialOffer
@{
    var raiting = (Model.Product.TblRate.Count > 0) ? (Model.Product.TblRate.Sum(i => i.Rate) / Model.Product.TblRate.Count) : 0;
}
<div class="product-express mat mat-border">
    <div class="head">
        <h3>پیشنهاد ویژه</h3>
        <ul class="timer" countdown="@Model.ValidTill.ConvertToUnixTimestamp()">
            <li>
                <label day></label>
                <span>روز</span>
            </li>
            <li>
                <label hour></label>
                <span>ساعت</span>
            </li>
            <li>
                <label minute></label>
                <span>دقیقه</span>
            </li>
            <li>
                <label second></label>
                <span>ثانیه</span>
            </li>
        </ul>
    </div>
    <div class="body">
        <a href="/Product/@Model.ProductId/@Model.Product.Name.Replace(" ","-")" target="_blank">
            <img src="~/Images/ProductMain/thumb/@Model.Product.MainImage" alt="" />
        </a>
        <div class="star">
            <label>
                <span>@raiting</span>
                <span uk-icon="icon:star;ratio:.9"></span>
            </label>
            <span>(@Model.Product.TblRate.Count)</span>
        </div>
        <ul class="colours">
            @foreach (var item in Model.Product.TblColor.Where(i => i.Count > 0))
            {
                @if (item.ColorCode.ToLower() == "#fff" || item.ColorCode.ToLower() == "#ffffff")
                {
                    <li style="background-color: @item.ColorCode;border: 1px black solid;"></li>
                }
                else
                {
                    <li style="background-color:@item.ColorCode"></li>
                }
            }
        </ul>
        <a href="/Product/@Model.ProductId/@Model.Product.Name.Replace(" ","-")" class="link-text" target="_blank">
            <h3 class="name" dir="rtl">
                @Model.Product.Name
            </h3>
        </a>


        @if (Model.Product.PriceAfterDiscount == 0)
        {
            var BeforeSumWithDiscount = Model.Product.PriceBeforeDiscount - (long)(Math.Floor((double)(Model.Product.PriceBeforeDiscount * Model.Discount / 100)));
            BeforeSumWithDiscount = (long)MainUtil.Round((double)BeforeSumWithDiscount, 3);
            <span class="discount">
                <span>@Model.Product.PriceBeforeDiscount.Value.ToString("#,0")</span>
            </span>
            <span class="price">
                <span class="t">تومان</span>
                <span>@BeforeSumWithDiscount.Value.ToString("#,0")</span>
            </span>
        }
        else
        {
            var AfterSumWithDiscount = Model.Product.PriceAfterDiscount - (long)(Math.Floor((double)(Model.Product.PriceAfterDiscount * Model.Discount / 100)));
            AfterSumWithDiscount = (long)MainUtil.Round((double)AfterSumWithDiscount, 3);

            <span class="discount">
                <span>@Model.Product.PriceAfterDiscount.Value.ToString("#,0")</span>
            </span>
            <span class="price">
                <span class="t">تومان</span>
                <span>@AfterSumWithDiscount.Value.ToString("#,0")</span>
            </span>
        }

    </div>
</div>