@model IEnumerable<DataLayer.Models.TblWallet>

@{
    ViewData["Title"] = "بانک";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using GhasreMobile.Utilities
<link href="~/datePersion/persianDatepicker-default.css" rel="stylesheet" />

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <div class="card-form form-row">
                        <div class="form-input">
                            <div class="form-inline">
                                <div class="form-group mx-sm-1 mb-2">
                                    <input readonly id="startDate" class="form-control uk-text-small" type="text" placeholder="از تاریخ  " value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <input readonly id="endDate" class="form-control uk-text-small" type="text" placeholder="تا تاریخ  " value="">
                                </div>

                            </div>
                        </div>
                        <div class="form-toolbar mr-3">
                            <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th>کد</th>
                                <th>نام</th>
                                <th>شماره</th>
                                <th>مبلغ</th>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.WalletId</td>
                                    <td>@item.Client.Name</td>
                                    <td>@item.Client.TellNo</td>
                                    <td>@item.Amount.ToString("#,0")</td>
                                    <td>@item.Date.AllToShamsi()</td>
                                    <td>
                                        @if (item.IsDeposit && item.IsFinaly)
                                        {
                                            <span class="text-success">شارژ حساب</span>
                                        }
                                        else if (item.IsDeposit && item.IsFinaly == false)
                                        {
                                            <span class="text-danger">عدم پرداخت در درگاه(شارژ حساب انجام نشده  یا خرید انجام نشده است)</span>
                                        }
                                        else if (item.IsDeposit == false && item.IsFinaly)
                                        {
                                            <span class="text-success">خرید </span>
                                        }
                                        else if (item.IsDeposit == false && item.IsFinaly == false)
                                        {
                                            <span class="text-danger">عدم پرداخت در درگاه</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/datePersion/prism.js"></script>
    <script src="~/datePersion/persianDatepicker.js"></script>
    <script>
        $(function () {
            //selectedBefor & selectedDate
            $("#startDate").persianDatepicker();
            $("#endDate").persianDatepicker();
        });

        function BtnSearch() {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            window.location.href = "/Admin/Bank?page=1&startDate=" + startDate + "&endDate=" + endDate;
        }

    </script>
}