@model TblTopic
<div class="forum-block">
    <div class="content">
        <div class="rowr">
            <a href="/ForumView/@Model.TopicId/@Model.Title.Replace(" ","-")"><h5 class="link-text">@Model.Title</h5></a>
            <div class="rowr uk-margin-auto-right">
                <span class="uk-margin-small-left text-2">@Model.Client.Name</span>
                <span class="text-3">@(Model.DateCreated.HasValue ? Model.DateCreated.Value.DateToShamsi() : "")</span>
            </div>
        </div>
        <div class="forum-body">
            <p dir="rtl">
                @Model.Body
            </p>
        </div>
        <div class="action">
            <span class="row">
                <span uk-icon="ratio:.72;icon:chatbox-ellipses-outline"></span>
                <span>  @Model.TblTopicCommentRel.Where(i => i.Comment.IsValid).ToList().Count  </span>
            </span>
            <span class="link-text" onclick="share(`https://localhost:44371/ForumView/@Model.TopicId/@Model.Title`,'@Model.Title')" uk-tooltip="اشتراک گذاری" uk-icon="ratio:.72;icon:share-social-outline"></span>
        </div>
    </div>
    <div class="controls">
        <div class="col">
            <button class="link-text up" uk-icon="chevron-up" onclick="VoteUp(@Model.TopicId);"></button>
            <label id="Vote@(Model.TopicId)">@Model.VoteCount</label>
            <button class="link-text down" uk-icon="chevron-down" onclick="VoteDown(@Model.TopicId);"></button>
        </div>
    </div>
    
</div>